img{
	width: 50%;
	height: 100vh;
	object-fit: contain;
}
.img-cachorro{
	display: flex;
	background: url('Qual-o-melhor-momento-para-adestrar-um-filhote-de-cachorro1.jpg') center center;
	object-fit: contain;
	width: 500px;
	height: 500px;
	
}